{% extends 'layout.tpl.html' %}
{% block header %}
<link rel="stylesheet" href="{{basepath}}/css/typeaheadjs.css">
<script src="{{basepath}}/js/typeahead.js/typeahead.bundle.min.js"></script>		
<script src="{{basepath}}/index.js"></script>
{% endblock %}
{% block body %}		
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form>
				<div class="form-group">
					<label for="keyfinder">Key finder</label>
					<input class="typeahead form-control" id="keyfinder" type="text" placeholder="Key Finder">
				</div>	
                            
                            <div class="form-group">
					<label for="keyfinder-selected">Value Selected</label>
                                        <input class="typeahead form-control" id="keyfinder-selected" type="text" placeholder="" readonly="readonly">
				</div>	
			</form>
		</div>
	</div>
</div>		
{% endblock %}