<!DOCTYPE html>
<html lang="es">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Typeahead JS{% endblock %}</title>
		<!-- Bootstrap core CSS -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{basepath}}/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="{{basepath}}/css/bootstrap-theme.min.css">		
		<!-- Latest compiled and minified JavaScript -->		
		<script src="{{basepath}}/js/jquery-1.11.2.min.js"></script>
		<script src="{{basepath}}/js/bootstrap.min.js"></script>
		{% block header %}
		{% endblock %}
		<!-- Head End -->
	</head>
	<!-- Body -->
	<body>
			<!-- Header -->       
			{% include 'header.tpl.html' %}
			<!-- Main Content -->
			{% block body %}
			{% endblock %}
			{% include 'footer.tpl.html' %}
			{% block scripts %}
			{% endblock %}
                        <script>basepath="{{basepath}}";</script>                        
	</body>
	<!-- The End -->
</html>